body{
    background-color: rgba(212, 206, 206, 0.69);
    padding: 0;
    margin: 0;
}

.beverage {
    border: 1px solid #3f3c3c;
    margin: 15px 0;
    padding: 15px;
}

.beverage-count {
    margin: 0 0 15px;
}

.field {
    display: block;
    margin-bottom: 10px;
}

.label-text {
    display: inline-block;
    width: 80px;
}

.checkbox-label {
    margin-bottom: 5px;
    display: inline-block;
}

.checkbox-field {
    margin: 5px 0;
    display: block;
}

.add-button {
    border: none;
    background: none;
    padding: 10px;
    color: rgba(0, 27, 255, 0.82);
    font-size: 14px;
    text-decoration: underline dashed;
    cursor: pointer;
}

.submit-button {
    font-size: 16px;
    padding: 7px 15px;
    border: 2px solid orange;
    border-radius: 5px;
}

.acceptance {
    position: fixed;
    display: flex;
    margin: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.41);
}

.acceptance-window {
    color: red;
    background-color: white;
    width: 500px;
    min-height: 150px;
    margin: auto;
}

.close-button {
    float: right;
    margin: 10px;
    margin-right: 20px;
}

.table-form {
    border: black 5px solid;
    border-collapse: collapse;
    padding: 5px;
    margin: 10px;
}

td,th {
    border: black 2px solid;
}

.error {
    border: red 2px solid;
}


